
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f5;
            margin: 0;
        }
        .container {
            text-align: center;
            background: white;
            padding: 50px;
            padding-bottom: 150px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        input[type="number"] {
            width: 250px;
            padding: 10px;
            margin-bottom: 10px;
            border: 2px solid #007BFF;
            border-radius: 5px;
            font-size: 16px;
            box-sizing: border-box;
        }
        input[type="number"]:focus {
            border-color: #0056b3;
            outline: none;
            box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
        }
       
        .result {
            margin-top: 50px;
            font-size: 18px;
            color: #333;
        }

        .copyimage {
            margin-top: 50px;
        }
    